/* Variables */

$primary-color: #0EB1AF;

*,
*:after,
*:before {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 1;
}

html, body {
    position: relative;
    height: 100%;
    z-index: 1;
    background-color: $primary-color;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
}

.row {
    padding: 10px 0 10px 5px; 
    cursor: move;
}

input {
    width: calc(100% - 102px);
    padding: 1em;
    background-color: $primary-color;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;

    &:focus {
        outline: 0;
    }
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
    opacity: 0.8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity: 0.8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity: 0.8;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
   opacity: 0.8;
}

.add {
    border: 0;
}

.item {
    border: 3px solid #fff;
    border-right: 0;
}

@import 'checkmark';