<div class="container">
    <!-- Todos input -->
    <form role="form" ng-submit="addTodo()">
        <input class="add" type="text" ng-model="todo" placeholder="add todo...">
    </form>

    <!-- Todos list -->
    <div ui-sortable ng-model="todos">
        <div class="row" ng-repeat="todo in todos track by $index">
            <input class="item" type="text" ng-model="todo">
            <span class="checkbox">
                <input type="checkbox" id="cb" />
                <label for="cb" ng-click="removeTodo($index)" aria-label="Remove"></label>
            </span>
        </div>
    </div>
</div>